<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">

    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="text-primary h4 mb-0">
        <i class="fa" [ngClass]="[roleIcon]"></i>
        <span class="text-lg ps-2">{{ role }}</span>
      </div>
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group">
          <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="Search functionality">
        </div>
      </div>
      <a *ngIf="userRole === 'ADMIN'" class="btn btn-outline-dark my-2" data-bs-toggle="modal" data-bs-target="#sendNotificationPopUp">Send Notification</a>
      <app-send-notification-popup></app-send-notification-popup>
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item px-3 dropdown me-2 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell cursor-pointer"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end  px-2 py-3 me-sm-n4" *ngIf="notifications" aria-labelledby="dropdownMenuButton">
            <li class="mb-2" *ngFor="let notification of notifications">
              <a class="dropdown-item border-radius-md">
                <div class="d-flex py-1">
<!--                  <div class="my-auto">-->
<!--                    <img src="/assets/img/efe.jpg" class="avatar avatar-sm  me-3 ">-->
<!--                  </div>-->
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1">
                      <span class="font-weight-bold">{{ notification.title }}</span> {{ notification.message }}
                    </h6>
<!--                    <p class="text-xs text-secondary mb-0">-->
<!--                      <i class="fa fa-clock me-1"></i>-->
<!--                      13 minutes ago-->
<!--                    </p>-->
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a (click)="onLogout()" class="nav-link text-body font-weight-bold px-0" style="cursor: pointer;">
            <i class="fa fa-user me-sm-1"></i>
            <span class="d-sm-inline d-none">Log off</span>
          </a>
        </li>
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
