<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">

    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group">
          <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="Search functionality">
        </div>
      </div>
      <a *ngIf="userRole === 'ADMIN'" class="btn btn-outline-dark my-2" data-bs-toggle="modal" data-bs-target="#sendNotificationPopUp">Send Notification</a>
                    <div class="modal fade" id="sendNotificationPopUp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Send Notification</h5>
                          </div>
                          <div class="modal-body">
                            <form class="p-2">
                              <div class="my-3">
                                <label for="exampleInputEmail1" class="form-label">Receivers</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                              </div>
                              <div class="my-3">
                                <label for="exampleInputEmail1" class="form-label">Notification Title</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Notification Message</label>
                                <input class="form-control" id="exampleInputPassword1">
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item px-3 dropdown me-2 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell cursor-pointer"></i>
          </a>
          <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
            <li class="mb-2">
              <a class="dropdown-item border-radius-md">
                <div class="d-flex py-1">
                  <div class="my-auto">
                    <img src="/assets/img/efe.jpg" class="avatar avatar-sm  me-3 ">
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1">
                      <span class="font-weight-bold">Friend request</span> from Eray Tüzün
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                      <i class="fa fa-clock me-1"></i>
                      13 minutes ago
                    </p>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md">
                <div class="d-flex py-1">
                  <div class="my-auto">
                    <img src="/assets/img/small-logos/download.png" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1">One of your neighbors just tested
                      <span class="font-weight-bold">positive</span>!
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                      <i class="fa fa-clock me-1"></i>
                      1 hour
                    </p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a class="dropdown-item border-radius-md">
                <div class="d-flex py-1">
                  <div class="my-auto">
                    <img src="/assets/img/small-logos/success-green-check-mark.png" class="avatar avatar-sm me-3 ">
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1">Mefharet Kocatepe has
                      <span class="font-weight-bold">accepted</span> your friend request.
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                      <i class="fa fa-clock me-1"></i>
                      2 hours
                    </p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a (click)="onLogout()" class="nav-link text-body font-weight-bold px-0" style="cursor: pointer;">
            <i class="fa fa-user me-sm-1"></i>
            <span class="d-sm-inline d-none">Log off</span>
          </a>
        </li>
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
