<div class="row mt-0 mb-4">
  <div>
    <div class="card mb-4">
      <div class="card-header pb-2">
        <h4 class="text-muted p-2 mb-0">Search User Information</h4>
      </div>
      <div class="card-header border-top mt-2 pt-3 pb-0">
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="form-group pull-right px-3 mb-0">
          <input type="text" class="search form-control" placeholder="Search for user">
        </div>
        <div class="table-responsive p-0 pt-3">
          <table class="table table-hover align-items-center mb-0">
            <thead class="border-top">
            <tr>
              <th class="            text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Role</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Covid Status</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date of status update</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Vaccination Status</th>
              <th class="text-secondary opacity-7"></th>
              <th class="text-secondary opacity-7" *ngIf="userRole === 'ADMIN'"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                    <img src="/assets/img/efe.jpg" class="avatar avatar-sm me-3" alt="user1">
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">Eray Tüzün</h6>
                  </div>
                </div>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">21903100</span>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">Academic Personnel</span>
              </td>
              <td class="align-middle text-center text-sm">
                <span class="badge badge-sm bg-gradient-danger">Positive</span>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold">22/10/21</span>
              </td>
              <td class="align-middle text-center text-sm">
                <span class="badge badge-sm bg-gradient-success">Vaccinated</span>
              </td>
              <td class="align-middle" *ngIf="userRole === 'ADMIN'">
                <a class="btn btn-xs btn-outline-secondary mb-0 p-1 px-3" href="javascript:;">edit</a>
              </td>
              <td class="align-middle" *ngIf="userRole === 'ADMIN'">
                <a class="btn btn-xs btn-outline-danger mb-0 p-1 px-3" href="javascript:;">remove</a>
              </td>
              <td class="align-middle" *ngIf="userRole === 'MEDICAL_EMPLOYEE'">
                <a class="btn btn-xs btn-outline-secondary mb-0 p-1 px-3" href="javascript:;">enter test result</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer px-4 pb-2">
          <div class="text-muted text-xs">Showing <b>8</b> out of <b>8</b> users</div>
        </div>
      </div>
    </div>
  </div>
</div>
