<div class="row">
  <div class="mb-xl-0 mb-4">
    <div class="card">
      <div class="card-header pb-0">
        <h3 class="border-bottom p-2 mb-4">University Wide Stats</h3>
      </div>
      <div class="card-body p-3">
        <div class="numbers">
          <div class="row">
            <div class="col-3 align-self-center">
              <h1 class="display-1 fw-bolder text-primary text-gradient text-center m-0">{{generalInfo?.academicCases + generalInfo?.adminCases + generalInfo?.staffCases + generalInfo?.studentCases}}</h1>
              <p class="text-center fw-bold text-muted m-0"> Cases</p>
            </div>
            <div class="col-3 px-3 align-self-center border-start border-end border-2">
              <h3 class="text-muted font-weight-bold my-1">{{generalInfo?.academicCases}} <span class="text-sm text-muted font-weight-normal"> Academic Staff</span></h3>
              <h3 class="text-muted font-weight-bold my-1">{{generalInfo?.adminCases}} <span class="text-sm text-muted font-weight-normal"> Administrative Staff</span></h3>
              <h3 class="text-muted font-weight-bold my-1">{{generalInfo?.staffCases}} <span class="text-sm text-muted font-weight-normal"> Support Staff</span></h3>
              <h3 class="text-muted font-weight-bold my-1">{{generalInfo?.studentCases}} <span class="text-end text-sm text-muted font-weight-normal"> Students</span></h3>
            </div>
            <div class="col-3 align-self-center border-end border-2">
              <div class="progress mx-auto" data-value='80'>
                    <span class="progress-left">
                      <span class="progress-bar border-primary"></span>
                    </span>
                <span class="progress-right">
                      <span class="progress-bar border-primary"></span>
                    </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                  <div class="h2 text-success font-weight-bold m-0">{{generalInfo?.vaccinationRate1}}<sup class="small">%</sup></div>
                </div>
              </div>
              <p class="text-center fw-bold text-muted mb-0 mt-3"> 1st Dose Vaccination Rate</p>
            </div>
            <div class="col-3 align-self-center">
              <div class="progress mx-auto" data-value='80'>
                    <span class="progress-left">
                      <span class="progress-bar border-primary"></span>
                    </span>
                <span class="progress-right">
                      <span class="progress-bar border-primary"></span>
                    </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                  <div class="h2 text-success font-weight-bold m-0">{{generalInfo?.vaccinationRate2}}<sup class="small">%</sup></div>
                </div>
              </div>
              <p class="text-center fw-bold text-muted mb-0 mt-3"> 2nd Dose Vaccination Rate</p>
            </div>
          </div>
        </div>
        <div class="text-end">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row my-4">
  <div class="col">
    <a class="btn justify-content-center bg-gradient-dark d-flex mb-0" routerLink="guidelines">View Guidelines</a>
  </div>
  <div class="col">
    <a class="btn justify-content-center btn-outline-dark d-flex mb-0" routerLink="weekly-reports">Weekly Reports</a>
  </div>
</div>
<div class="row my-4">
  <div>
    <div class="card h-100">
      <div class="card-header pb-2">
        <h3 class="border-bottom p-2 mb-3">Announcements</h3>
        <a *ngIf="userRole === 'ADMIN'" class="btn btn-outline-dark my-2" data-bs-toggle="modal" data-bs-target="#makeAnnouncementPopUp">Make Announcement</a>
        <div class="modal fade" id="makeAnnouncementPopUp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Make An Announcement</h5>
                </div>
                <div class="modal-body">
                  <form #makeAnnouncementForm="ngForm" role="form" class="p-2">
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Announcement Title</label>
                      <input #announcementTitle="ngModel" ngModel name="announcementTitle" required class="form-control" id="announcementTitle">
                    </div>
                    <div class="my-3">
                      <label for="exampleInputEmail1" class="form-label">Announcement Message</label>
                      <textarea rows="5" #announcementMessage="ngModel" ngModel name="announcementMessage" required class="form-control" id="announcementMessage"> </textarea>
                    </div>
                  </form>
                  <span class="text-danger ps-2 text-sm" *ngIf="(announcementTitle.touched && !announcementTitle.valid) || ( announcementMessage.touched && !announcementMessage.valid)">Please don't leave a field empty!</span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" (click)="makeAnnouncementForm.reset()">Cancel</button>
                  <button type="submit" [disabled]="!makeAnnouncementForm.valid" class="btn btn-sm btn-primary" data-bs-dismiss="modal" (click)="makeAnnouncement( announcementTitle.value, announcementMessage.value)">Announce</button>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        <div class="timeline timeline-one-side">

          <div class="timeline-block mb-3" *ngFor=" let announcement of generalInfo?.announcements">
            <span class="timeline-step">
              <i class="fa fa-bullhorn text-dark text-gradient"></i>
            </span>
            <div class="px-5">
              <h6 class="text-dark text-lg font-weight-bold mb-0">{{announcement?.title}}</h6>
              <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{announcement?.date}}</p>
              <p class="border-radius-lg p-3 bg-gray-100 my-3 text-sm">{{announcement?.announcementText}}</p>
            </div>
          </div>

        </div>
        <div class="text-end">
        </div>
      </div>
    </div>
  </div>
</div>
