<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <!-- Navbar -->
      <nav
        class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-5 end-5 mx-4">
        <div class="container-fluid m-3">
          <a class="h5 font-weight-normal text-muted mb-0 ms-lg-0 ">
            Safe Campus with <span
            class="font-weight-bolder text-warning text-gradient">Pandemica</span>
          </a>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>
<main class="main-content  mt-0">
  <section>
    <div class="page-header min-vh-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient">Welcome back</h3>
                <p class="mb-0">Enter your id and password to sign in</p>
              </div>
              <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
              </div>
              <div class="card-body">
                <form #loginForm="ngForm" role="form" *ngIf="!isLoading" (ngSubmit)="loginUser(userId.value, password.value, loginForm)">
                  <span class="text-danger" *ngIf="!userAuthenticated">Incorrect credentials</span>
                  <div class="form-group">
                    <label>ID</label>
                    <div class="mb-3">
                      <input type="text" #userId="ngModel" ngModel id="inputId" name="userId" required class="form-control" placeholder="ID" pattern="[0-9]+">
                    </div>
                    <span class="help-block" *ngIf="!userId.valid && userId.touched">ID must be an integer!</span>
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <div class="mb-3">
                      <input type="password" #password ngModel id="inputPassword" name="password" required class="form-control" placeholder="Password"
                             aria-label="Password" aria-describedby="password-addon">
                    </div>
                  </div>
<!--                  <div class="form-check form-switch" >-->
<!--                    <input class="form-check-input" type="checkbox" id="rememberMe">-->
<!--                    <label class="form-check-label" for="rememberMe">Remember me</label>-->
<!--                  </div>-->
                  <div class="text-center">
                    <button type="submit" [disabled]="!loginForm.valid" class="btn bg-gradient-info w-100 mt-4 mb-0">Sign
                      in</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                   [ngStyle]="{'background-image': 'url(assets/img/curved-images/curved6.jpg)'}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-4 mx-auto text-center">
        <a href="https://stars.bilkent.edu.tr/accounts/login" target="_blank"
           class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Bilkent STARS
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          About
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Team
        </a>
        <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          FAQ
        </a>
      </div>
    </div>
  </div>
</footer>
