.square {
  float:left;
  position: relative;
  width: 8.3%;
  padding-bottom : 8.3%; /* = width for a 1:1 aspect ratio */
  margin: 0.85%;
  background-color: white;
  background-position:center center;
  background-repeat:no-repeat;
}

.bg-faded-success {
  background-color: rgba(130,214,22,0.61);
}
