<div class="row mt-0 mb-4">
  <div>
    <div class="card h-100">
      <div class="card-header pb-0 d-flex">
        <h4 class="ps-4 text-muted p-2 flex-grow-1">Guidelines</h4>
        <a class="align-middle nav-link text-end text-sm p-0 pt-3 pe-4 my-0"  routerLink="/general-info">Go Back</a>
      </div>
      <div class="card-body p-0">
        <div class="bg-gray-100 border-top border-bottom  pt-4 pb-3 px-5">
          <h3 class="text-info text-gradient mb-0 col-6"><i class="fa fa-school pe-3"></i>On Campus </h3>
        </div>
        <div class="px-5 py-4">
          <p class="text-sm">
            The government has decided to begin face-to-face education at all levels starting this September and is requiring everybody to be either vaccinated against Covid-19 or provide a negative PCR test at least twice a week. Consequently, universities in Turkey are returning to face-to-face education this fall and instituting vaccine requirements.

            We have now decided to hold all lectures, laboratories, studios, midterm and final exams, and other evaluation activities at Bilkent in a face-to-face format starting this Fall Semester.

            Vaccine requirements will be effective throughout all campus facilities, in addition to current Covid-19 measures that are already in place. Face mask use will continue to be mandatory across the whole campus including classrooms, laboratories, and studios. The university will continue checking HES codes and taking appropriate action for isolating risky cases.
          </p>
          <p class="text-sm">
            The government has decided to begin face-to-face education at all levels starting this September and is requiring everybody to be either vaccinated against Covid-19 or provide a negative PCR test at least twice a week. Consequently, universities in Turkey are returning to face-to-face education this fall and instituting vaccine requirements.

            We have now decided to hold all lectures, laboratories, studios, midterm and final exams, and other evaluation activities at Bilkent in a face-to-face format starting this Fall Semester.

            Vaccine requirements will be effective throughout all campus facilities, in addition to current Covid-19 measures that are already in place. Face mask use will continue to be mandatory across the whole campus including classrooms, laboratories, and studios. The university will continue checking HES codes and taking appropriate action for isolating risky cases.
          </p>
        </div>

        <div class="bg-gray-100 border-bottom border-top pt-4 pb-3 px-5">
          <h3 class="text-info text-gradient mb-0 col-6"><i class="fa fa-chalkboard-teacher pe-3 "></i>In Class</h3>
        </div>
        <div class="px-5 py-4">
          <p class="text-sm">
            The government has decided to begin face-to-face education at all levels starting this September and is requiring everybody to be either vaccinated against Covid-19 or provide a negative PCR test at least twice a week. Consequently, universities in Turkey are returning to face-to-face education this fall and instituting vaccine requirements.

            We have now decided to hold all lectures, laboratories, studios, midterm and final exams, and other evaluation activities at Bilkent in a face-to-face format starting this Fall Semester.

            Vaccine requirements will be effective throughout all campus facilities, in addition to current Covid-19 measures that are already in place. Face mask use will continue to be mandatory across the whole campus including classrooms, laboratories, and studios. The university will continue checking HES codes and taking appropriate action for isolating risky cases.
          </p>
          <p class="text-sm">
            The government has decided to begin face-to-face education at all levels starting this September and is requiring everybody to be either vaccinated against Covid-19 or provide a negative PCR test at least twice a week. Consequently, universities in Turkey are returning to face-to-face education this fall and instituting vaccine requirements.

            We have now decided to hold all lectures, laboratories, studios, midterm and final exams, and other evaluation activities at Bilkent in a face-to-face format starting this Fall Semester.

            Vaccine requirements will be effective throughout all campus facilities, in addition to current Covid-19 measures that are already in place. Face mask use will continue to be mandatory across the whole campus including classrooms, laboratories, and studios. The university will continue checking HES codes and taking appropriate action for isolating risky cases.
          </p>
        </div>
        <div class="bg-gray-100 border-top border-bottom  pt-4 pb-3 px-5">
          <h3 class="text-info text-gradient mb-0 col-6"><i class="fa fa-bus pe-3"></i>Transportation </h3>
        </div>
        <div class="px-5 py-4">
          <p class="text-sm">
            The government has decided to begin face-to-face education at all levels starting this September and is requiring everybody to be either vaccinated against Covid-19 or provide a negative PCR test at least twice a week. Consequently, universities in Turkey are returning to face-to-face education this fall and instituting vaccine requirements.

            We have now decided to hold all lectures, laboratories, studios, midterm and final exams, and other evaluation activities at Bilkent in a face-to-face format starting this Fall Semester.

            Vaccine requirements will be effective throughout all campus facilities, in addition to current Covid-19 measures that are already in place. Face mask use will continue to be mandatory across the whole campus including classrooms, laboratories, and studios. The university will continue checking HES codes and taking appropriate action for isolating risky cases.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
