<div class="row">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-header pb-4 bor">
        <h3 class="border-bottom p-2 mb-3">Seat Information</h3>
        <p class="text-sm">
          <i class="fa fa-book text-primary ps-1" aria-hidden="true"></i>
          <span class="font-weight-bold">5</span> courses taken
        </p>
        <div class="text-sm m-0 ps-1 form-text">
          <span class="text-xs">* Colors in the seating plan:</span>
          <i class="fa fa-dot-circle text-warning ps-3" aria-hidden="true"></i>
          <span class="text-xs">Whiteboard</span>
          <i class="fa fa-dot-circle text-success ps-3" aria-hidden="true"></i>
          <span class="text-xs">Your Seat</span>
          <i class="fa fa-dot-circle text-primary ps-3" aria-hidden="true"></i>
          <span class="text-xs">Occupied Seat</span>
          <i class="fa fa-dot-circle text-secondary ps-3" aria-hidden="true"></i>
          <span class="text-xs">Empty Seat</span>
        </div>
      </div>
      <div class="card-body p-0 pb-2">
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Course</th>
              <th class="text-uppercase text-secondary text-center text-xxs font-weight-bolder opacity-7">Seat No</th>
              <th class="text-uppercase text-secondary text-center text-xxs font-weight-bolder opacity-7">Seating Plan</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="d-flex px-2 py-1 flex-column justify-content-center">
                  <h6 class="ms-2 mb-0">CS-319</h6>
                </div>
              </td>
              <td>
                <div class="d-flex py-1 flex-column justify-content-center text-center">
                  <h6 class="mb-0 text-sm text-muted">A6</h6>
                </div>
              </td>
              <td>
                <div class="d-flex py-1 flex-column justify-content-center align-items-center">
                  <img src="../assets/img/seating-plan.png" alt="user1">
                </div>
              </td>
              <td class="align-middle text-center">
                <a class="btn btn-xs btn-outline-primary mb-0" data-bs-toggle="modal" data-bs-target="#updateSeatPopup">update seat</a>

                <div class="modal fade" id="updateSeatPopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Seat</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body bg-dark">
                        <div *ngFor="let i of [].constructor(120)">
                          <div class="square"></div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex px-2 py-1 flex-column justify-content-center">
                  <h6 class="ms-2 mb-0">CS-319</h6>
                </div>
              </td>
              <td>
                <div class="d-flex py-1 flex-column justify-content-center text-center">
                  <h6 class="mb-0 text-sm text-muted">A6</h6>
                </div>
              </td>
              <td>
                <div class="d-flex py-1 flex-column justify-content-center align-items-center">
                  <img src="../assets/img/seating-plan.png" alt="user1">
                </div>
              </td>
              <td class="align-middle text-center">
                <a class="btn btn-xs btn-outline-primary mb-0" data-bs-toggle="modal" data-bs-target="#updateSeatPopup">update seat</a>

              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex px-2 py-1 flex-column justify-content-center">
                  <h6 class="ms-2 mb-0">CS-319</h6>
                </div>
              </td>
              <td>
                <div class="d-flex py-1 flex-column justify-content-center text-center">
                  <h6 class="mb-0 text-sm text-muted">A6</h6>
                </div>
              </td>
              <td>
                <div class="d-flex py-1 flex-column justify-content-center align-items-center">
                  <img src="../assets/img/seating-plan.png" alt="user1">
                </div>
              </td>
              <td class="align-middle text-center">
                <a class="btn btn-xs btn-outline-primary mb-0" data-bs-toggle="modal" data-bs-target="#updateSeatPopup">update seat</a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex px-2 py-1 flex-column justify-content-center">
                  <h6 class="ms-2 mb-0">CS-319</h6>
                </div>
              </td>
              <td>
                <div class="d-flex py-1 flex-column justify-content-center text-center">
                  <h6 class="mb-0 text-sm text-muted">A6</h6>
                </div>
              </td>
              <td>
                <div class="d-flex py-1 flex-column justify-content-center align-items-center">
                  <img src="../assets/img/seating-plan.png" alt="user1">
                </div>
              </td>
              <td class="align-middle text-center">
                <a class="btn btn-xs btn-outline-primary mb-0" data-bs-toggle="modal" data-bs-target="#updateSeatPopup">update seat</a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex px-2 py-1 flex-column justify-content-center">
                  <h6 class="ms-2 mb-0">CS-319</h6>
                </div>
              </td>
              <td>
                <div class="d-flex py-1 flex-column justify-content-center text-center">
                  <h6 class="mb-0 text-sm text-muted">A6</h6>
                </div>
              </td>
              <td>
                <div class="d-flex py-1 flex-column justify-content-center align-items-center">
                  <img src="../assets/img/seating-plan.png" alt="user1">
                </div>
              </td>
              <td class="align-middle text-center">
                <a class="btn btn-xs btn-outline-primary mb-0" data-bs-toggle="modal" data-bs-target="#updateSeatPopup">update seat</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
